<div class="col-md-3">
  <h4 class="card-title"><%= pet.name %></h4>
  <%= image_tag pet.avatar.url(:thumb), class: 'img-responsive' %>
  <div class="card-block">
    <hr>
    <%= pet.age %> anos <br>
    Porte <%= pet.size %><br>
    <%= pet.gender %><br>
    <%= pet.breed %>
    <br><br>
    <%= link_to "Ver", pet, class: "btn btn-primary" %>
    <br>
    <br>
    <% if ong_signed_in? && !@ong.nil? %>
      <% if current_ong.id == @ong.id %>
        <%= simple_form_for pet, html: { method: :put } do |f| %>
          <%= f.hidden_field :available, value: pet.available? ? false : true, class: "form-control" %>
          <br>
          <%= f.submit pet.available? ? "Remover da adoção" : "Incluir para adoção" , class: pet.available? ? 'btn btn-danger' : 'btn btn-success' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="fb-share-button" data-href="https://adotarpets.com.br" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fadotarpets.com.br%2F&amp;src=sdkpreparse">Compartilhar</a></div>
</div>
