<div class="col-md-3">
  <h4 class="card-title"><%= pet.name %></h4>
  <%= image_tag pet.avatar.url(:thumb), class: 'img-responsive' %>
  <div class="card-block">
    <br>
    <%= link_to "Ver", pet, class: "btn btn-primary" %>
    <br>
    <br>
    <% if ong_signed_in? && !@ong.nil? %>
      <% if current_ong.id == @ong.id %>
        <%= simple_form_for pet, html: { method: :put } do |f| %>
          <%= f.hidden_field :available, value: pet.available? ? false : true, class: "form-control" %>
          <br>
          <%= f.submit pet.available? ? "Remover da adoção" : "Incluir para adoção" , class: pet.available? ? 'btn btn-success' : 'btn btn-danger' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <hr>
  <%= social_share_button_tag(pet.name, url: pet_url(pet), desc: pet.description) %>
</div>
