
<div class="col-xs-4 col-md-4">
  <%= link_to ong_pet_url(pet.ong, pet) do %>
    <h4 class="card-title"><%= pet.name %></h4>
    <%= image_tag pet.avatar.url(:thumb), class: 'img-responsive' %>
  <% end %>
  <div class="card-block">
    <hr>
    <% if pet.age %>
      <%= pet.age.age %> <%= pet.age.scala %><br>
    <% end %>
    Porte <%= pet.size %><br>
    <%= pet.gender %><br>
    <%= pet.breed %>
    <hr>
    <%= link_to "Ver", ong_pet_url(pet.ong, pet), class: "btn btn-primary" %>
    <br>
    <br>
    <% if ong_signed_in? && !@ong.nil? %>
      <% if current_ong.id == @ong.id %>
        <%= simple_form_for pet, html: { method: :put } do |f| %>
          <%= f.hidden_field :available, value: pet.available? ? false : true, class: "form-control" %>
          <br>
          <%= f.submit pet.available? ? "Remover" : "Incluir" , class: pet.available? ? 'btn btn-danger' : 'btn btn-success' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <hr>
</div>
