<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Início', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @pet.ong.name, ong_path(@pet.ong) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @pet.name, ong_pet_path(@pet.ong, @pet) %>
  </li>
  <li class="breadcrumb-item active">
    Editar
  </li>
</ol>
<h3>Editar Pet</h3>
<hr>
<%= simple_form_for([@ong, @pet], html: {multipart: true, method: :put}) do |f| %>
  <%= f.input :avatar, as: :file %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.simple_fields_for :age, @pet.age do |a| %>
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <%= a.input :age, label: 'Idade', required: true %>
      </div>
      <div class="col-xs-6 col-md-6">
        <%= a.input :scala, collection: ['Mês', 'Meses', 'Ano', 'Anos'], label: 'Escala de idade', as: :select, required: true %>
      </div>
    </div>
  <% end %>
  <%= f.input :size, collection: @sizes, label: 'Porte', as: :select%>
  <%= f.input :pet_type, collection: @pet_types, label: 'Tipo', as: :radio_buttons %>
  <%= f.input :breed, label: 'Raça' %>
  <%= f.input :gender, collection: @genders, label: 'Genero', as: :radio_buttons %>
  <%= f.input :deficiency, label: 'Deficiência' %>
  <%= f.input :castrated, label: 'Castrado' %>
  <%= f.input :vaccined, label: 'Vacinado' %>
  <%= f.input :description, label: 'Descrição' %>

  <h3>Fotos do pet</h3>
  <%= file_field_tag "photos[]", multiple: true %>
  <br>

  <%= f.button :submit, 'Enviar' %>
<% end %>
