<% content_for :head do %>
  <meta property="fb:app_id" content="156540017882716" />
  <meta property="og:url"   content="<%= ong_pet_url(@pet.ong, @pet) %>" />
  <meta property="og:title" content="<%= @pet.name %>" />
  <meta property="og:description" content="<%= @pet.breed %>, Porte <%= @pet.size %>, <%= @pet.description.truncate(300) %>" />
  <meta property="og:image" content="<%= @pet.avatar.url(:thumb) %>" />
<% end %>

<%= stylesheet_link_tag 'galeria' %>
<%= stylesheet_link_tag 'perfil' %>

<!-- nav bar -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Início', root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @pet.ong.name, ong_path(@pet.ong) %>
  </li>
  <li class="breadcrumb-item active">
    <%= @pet.name %>
  </li>
</ol>
<!-- resumt -->
<div class="panel panel-default">
  <div class="panel-heading resume-heading">
    <div class="row">
        <div class="col-lg-12">
          <div class="col-xs-12 col-sm-4">
           <figure>
              <%= image_tag @pet.avatar.url(:medium), class: 'img-circle img-responsive' %>
           </figure>
          </div>
        <div class="col-xs-12 col-sm-8">
           <ul class="list-group">
              <li class="list-group-item"><h3><%= @pet.name %></h3></li>
              <li class="list-group-item"><%= @pet.breed %></li>
              <li class="list-group-item">Porte - <%= @pet.size %></li>
              <% if @pet.age %>
                <li class="list-group-item"><%= @pet.age.age  %> <%= @pet.age.scala  %></li>
              <% end %>
              <li class="list-group-item"><%= @pet.friendly_text_castrated %></li>
              <li class="list-group-item"><%= @pet.friendly_text_vaccined %></li>
              <li class="list-group-item">
                <%= link_to ong_path(@pet.ong) do %>
                  <%= @pet.ong.name %>
                <% end %>
              </li>
              <li class="list-group-item">
                <address>
                  <%= link_to 'http://maps.google.com/?q='+ @pet.ong.address.postal_code + ',' + @pet.ong.address.address + ',' + @pet.ong.address.address_number + ',' + @pet.ong.address.state + ',' + @pet.ong.address.city , target: '_blank' do %>
                    <%= @pet.ong.address.address %>, <%= @pet.ong.address.address_number %>,
                    <%= @pet.ong.address.neighborhood %><br><%= @pet.ong.address.state %> - <%= @pet.ong.address.city %><br><%= @pet.ong.address.postal_code %>
                  <% end %>
                </address>
              </li>
              <% if @pet.ong.phone.present? %>
                <li class="list-group-item"><i class="fa fa-phone"></i>
                  <%= link_to 'tel:'+ @pet.ong.phone do %>
                    <span class="bfh-phone" data-format="+55 (dd) ddddd-dddd" data-number="15555555555"></span>
                    <%= @pet.ong.phone %>
                  <% end %>
                </li>
              <% end %>
              <% if @pet.ong.site.present? %>
                <li class="list-group-item">
                  <%= link_to 'http://'+ @pet.ong.site, target: '_blank' do %>
                    <%= @pet.ong.site %>
                  <% end %>
                </li>
              <% end %>
              <li class="list-group-item">
                <%= link_to 'mailto:'+ @pet.ong.email do %>
                  <i class="fa fa-envelope"></i> <%= @pet.ong.email %>
                <% end %>
              </li>
           </ul>
           <div class="row">
            <% if @pet.available? %>
                <div class="col-xs-3 col-sm-3">
                   <%= button_to ong_pet_adoptions_path(@pet.ong, @pet, @adoption), class: 'btn btn-primary' do %>
                      <span class="glyphicon glyphicon-heart-empty"></span> Adotar
                   <% end %>
                </div>
            <% end %>
            <% if ong_signed_in? && current_ong.id == @pet.ong.id %>
              <div class="col-xs-3 col-sm-2">
                 <%= link_to edit_ong_pet_path(@pet.ong, @pet), class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                 <% end %>
              </div>
              <div class="col-xs-2 col-sm-3">
                 <%= button_to @pet, class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-remove"></span> <%= @pet.available?  ? "Remover" : "Incluir" %>
                 <% end %>
              </div>
            <% end %>
          </div>
          <hr>
          <%= social_share_button_tag("Adote", url: "#{ong_pet_url(@pet.ong, @pet)}", image: "#{@pet.avatar.url(:thumb)}", via: "AdotarPets") %>
        </div>
      </div>
    </div>
  </div>

 <div class="bs-callout bs-callout-danger">
    <h3>Sobre <%="#{@pet.name}"%></h3>
    <hr>
    <p>
       <%= @pet.description %>
    </p>
    <hr>
    <% if @pet.deficiency.empty? %>
      <p><%= @pet.deficiency %></p>
    <% end %>
 </div>
</div>

<% if @pet.photos.count > 0 %>
  <div>
    <h3>Galeria de fotos</h3>
    <% @pet.photos.each do |photo| %>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <%= link_to '#myModal', 'data-toggle' => 'modal', 'data-target' => "##{photo.id}" do %>
            <%= image_tag photo.image.url(:mini), class: 'img-responsive' %>
          <% end %>
          <%= content_tag :div, class: "modal fade", id: "#{photo.id}" ,'tabindex' => '-1', 'role' => 'dialog' do %>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <%= image_tag photo.image.url(:original), class: 'img-responsive' %>
              </div>
            </div>
          </div>
          <% end -%>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
