<div class="col-md-12">

  <div class="box">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1><%= @pet.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= image_tag @pet.avatar.url(:medium), class: 'img-responsive' %>
          <br>
          <%= form_for [@pet.ong, @pet, @adoption], html: {class: "nifty_form"} do |f| %>
          <center>
            <%= f.submit "Adotar", class:'btn btn-success btn-lg' %>
          <!--  <%= link_to "Voltar", :back, class:'btn btn-primary btn-lg' %> -->
          </center>
          <% end %>
        </div>

      <div class="col-md-9">
        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Idade</dt>
            <dd><%= @pet.age %></dd>
            <dt>Porte</dt>
            <dd><%= @pet.size %></dd>
            <dt>Tipo</dt>
            <dd><%= @pet.pet_type %></dd>
            <dt>Raça</dt>
            <dd><%= @pet.breed %></dd>
            <dt>Gênero</dt>
            <dd><%= @pet.gender %></dd>
            <dt>Vacinado</dt>
            <dd><% if @pet.vaccined? %>
                  <i class="glyphicon glyphicon-ok"></i>
                <% else %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %>
            </dd>
            <dt>Deficiência</dt>
            <dd><%= @pet.deficiency %></dd>
            <dt>Castrado</dt>
            <dd><% if @pet.castrated %>
                  <i class="glyphicon glyphicon-ok"></i>
                <% else %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %></dd>
            <dt>Descrição</dt>
            <dd><%= @pet.description %></dd>
          </dl>
        </div>

        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>ONG Responsável</dt>
            <dd><%= @pet.ong.name %></dd>
            <dt>Email</dt>
            <dd><%= @pet.ong.email %></dd>
            <dt>Telefone</dt>
            <dd><%= @pet.ong.phone %></dd>
            <dt>Contato</dt>
            <dd><%= @pet.ong.contact %></dd>
            <dt>Localização:</dt>
            <dd><%= @pet.ong.address.city %></dd>
            <dd><%= @pet.ong.address.state %></dd>
            <dd><%= @pet.ong.address.address %></dd>
          </dl>
        </div>
      </div>
      <%= social_share_button_tag(@pet.name, url: pet_url(@pet), desc: @pet.description) %>
    </div>
    <div>
      <% @pet.photos.each do |photo| %>
        <%= image_tag photo.image.url(:mini) %>
      <% end %>
    </div>
  </div>
</div>
