
<aside>
  <%= form_tag(ongs_path, method: :get, class: "form-inline") do %>
    <%=label_tag(:city, "Cidade") %>
    <%= select_tag(:city, options_for_select(@cities)) %>
    <%= submit_tag("Filtrar") %>
  <% end %>
</aside>

<section id="ongs">

  <div class="jumbotron">
    <h1>Bem-vindos à AdoPet!</h1>
    <p>...</p>
    <p><%= link_to 'Cadastre sua ONG', new_ong_path, class:'btn btn-primary btn-lg' %></p>
  </div>


  <% @ongs.each do |ong| %>

    <div class="row">
      <div class="ong">
        <div class="panel panel-default">
          <div class="panel-heading"><h2><%= link_to ong.name, ong %></h2></div>
          <div class="panel-body">
            <% ong.featured_pets.each do |pet| %>
              <div class="pets">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h2><%= link_to pet.name, pet %></h2>
                      <%= image_tag pet.avatar.url(:thumb) %>
                      <dl>
                        <dt>Idade:</dt><dd><%= pet.age %></dd>
                        <dt>Gênero:</dt><dd><%= pet.gender %></dd>
                        <dt>Porte:</dt><dd><%= pet.size %></dd>
                      </dl>
                      <a href="#" class="btn btn-primary" role="button">Ver Pet</a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</section>
