<aside>
</aside>
<div class="container" data-animate="fadeInUpBig">
  <div class="col-md-12">
    <div class="box info-bar">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-md-offset-3 products-showing">
          <strong>Encontre seus Pets:</strong>
        </div>
        <div class="col-sm-12 col-md-6  products-number-sort">
          <div class="row">
            <%= form_tag(ongs_path, method: :get, class: "form-inline") do %>
              <div class="col-md-6 col-sm-6">
                <%=label_tag(:city, "Cidade") %>
                <%= select_tag(:city, options_for_select(@cities), class: 'form-control') %>
                <%= submit_tag("Filtrar", class: 'btn btn-primay') %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="box slideshow">
      <h3>Bem-vindo a AdoPet!</h3>
      <p class="lead">Encontre seu próximo amor em 4 patas <3</p>
      <div >
        <a href="#">
          <img src="<%= image_path 'adote_um_pet.jpg' %>" alt="Encontre seu próximo amor" style="width:100%">
        </a>
      </div>
    </div>
  </div>
</div>


<div id="hot">
  <div id="ongs">
    <% @ongs.each do |ong| %>
      <div class="box" id="ong">
        <div class="container">
          <div class="col-md-12">
            <h2><%= link_to ong.name, ong %></h2>
          </div>
        </div>
      </div>
      <div class="container">
        <h3>Pets em destaque</h3>
        <div class="same-height-row">
          <%= render ong.featured_pets %>
        </div>
      </div>
      <div class="container">
        <h3>Eventos</h3>
        <div class="same-height-row">
          <%= render ong.featured_events %>
        </div>
      </div>
    <% end %>
  </div>
</div>
