
<aside>
  <%= form_tag(ongs_path, method: :get, class: "form-inline") do %>
    <%=label_tag(:city, "Cidade") %>
    <%= select_tag(:city, options_for_select(@cities)) %>
    <%= submit_tag("Filtrar") %>
  <% end %>
</aside>

<section id="ongs">

  <div class="jumbotron">
    <h1>Bem-vindos à AdoPet!</h1>
    <p>...</p>
    <p><%= link_to 'Cadastre sua ONG', new_ong_path, class:'btn btn-primary btn-lg' %></p>
  </div>

  <% @ongs.each do |ong| %>

    <div class="row">
      <div class="ong">
        <div class="panel panel-default">
          <div class="panel-heading"><h2><%= link_to ong.name, ong %></h2></div>
          <div class="panel-body">

            <%= render ong.featured_pets %>

            <%= render ong.events %>
            
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
