<h3>Mensagens</h3>
<hr>
<div class="alert alert-info" role="alert">
  Esse espaço serve como canal de contato entre as ONG's, se falta recurso e quer pedir ajuda ou sobra recurso e quer oferecer, aqui é o espaço para informar.<br>
  Sua mensagem será enviada por e-mail para todas as ONG's cadastradas no sistema :)
</div>
<div>
  <%= label_tag(:all_ongs, 'Para todas as ONG\'s?') %>
  <%= simple_form_for [current_ong, @comunicator], :html => {:class => 'form-horizontal', multipart: true} do |f| %>
    <%= f.input :emails, :as => :hidden, id:'emails' %>
    <%= f.input :assunto, label: 'Assunto', :as => :text, :required => true %>
    <%= f.input :mensagem, label: 'Mensagem', :as => :text, :required => true %>
    <div>
      </br>
      <%= f.button :submit, 'Enviar', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
