<% if ong.pets.count > 0 %>
    <div class="col-md-12">
      <%= link_to ong_path ong do %>
        <h4 class="card-title"><%= ong.name %> - (<%= ong.pets.count %>) Pets</h4>
      <% end %>
      <figure>
         <%= image_tag ong.avatar.url(:thumb), class: 'img-circle img-responsive' %>
      </figure>
      <div class="card-block">
        <%= render 'data_ong', ong: ong %>
        <%= link_to "Ver +", ong, class: "btn btn-primary" %>
        <br>
        <br>
      </div>
      <hr>
    </div>
<% end %>
<br>
