<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Início', root_path %>
  </li>
  <li class="breadcrumb-item active">
    ONG's
  </li>
</ol>
<h3>ONG's</h3>
<hr>
<div class="well well-lg col-sm-12">
  <%= simple_form_for(ongs_path, method: :get, class: "form-inline") do |f| %>
      <%= f.input :name, label: "Nome: ", required: false %>
      <br>
      <%= f.input(:city, collection: @cities, label: 'Cidade: ', required: false) %>
      <br>
      <%= submit_tag("Filtrar", class: 'btn btn-primay') %>
  <% end %>
</div>
<%= render @ongs %>

<style>

.card-title{
  color: #03b7a1;
}

/* btn admin */
.btn-primary {
    color: #fff;
    border-color: #ffffff;
    background-color: #03b7a1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #ffffff;
    background-color: #03b7a1;
}
</style>
