
<h1>ONG's</h1>
<% if @city %>
<h2>Filtrando ONGs de <%= @city %></h2>
<% else %>
<h2>Todas as ONGs</h2>
<% end %>

<% if @ongs.count > 0 %>
  <section id="ongs">
    <h2>ONGs</h2>
      <% @ongs.each do |ong| %>
      <div class="ong">
        <h2><%= link_to ong.name, ong %></h2>
        <% ong.featured_pets.each do |pet| %>
          <div class="pets">
              <h2><%= link_to pet.name, pet %></h2>
              Idade: <%= pet.age %>
              Gênero: <%= pet.gender %>
              Porte: <%= pet.size %>
          </div>
        <% end %>
      </div>
      <% end %>
  </section>
<% else %>
  <p class="alert alert-warning">
    Nenhuma ONG encontrada para esta cidade
  </p>
<% end %>
