<div class="col-md-12">

  <div class="box">

    <div class="container">
      <div class="row">
          <h1>Minhas ONGs</h1>

        <% if @my_ongs.count > 0 %>
          <section id="ongs">

              <% @my_ongs.each do |ong| %>
              <div class="ong">
                <h2><%= link_to ong.name, ong %></h2>
                <% if current_user == ong.user %>
                  <%= link_to 'Criar Evento', new_ong_event_path(ong), class: 'btn btn-primary' %>
                  <%= link_to 'Cadastrar Pets', new_ong_pet_path(ong), class: 'btn btn-success' %>
                <% end %>
              </div>
              <% end %>
          </section>
        <% else %>
          <p class="alert alert-warning">
            Nenhuma ONG cadastrada
          </p>
          <p>
            <%= link_to 'Cadastre sua ONG', new_ong_path, class: 'btn btn-success' %>
          </p>
        <% end %>


      </div>
    </div>
  </div>
  <%= link_to "Voltar", :back, class:'btn btn-primary' %>
</div>
