<div class="col-md-12">
  <div class="box">
    <div class="container">
      <div class="row">
        <h1>Cadastrar ONG</h1>
          <%= simple_form_for @ong do |f| %>
            <p><%= f.input :avatar, as: :file %></p>
            <%= f.input :name, label: 'Nome da ONG' %>
            <p><%= f.input :cnpj, label: 'CNPJ', input_html: {id: "cnpj"}, placeholder: 'SP''XX.XXX.XXX/0001-ZZ' %></p>
            <%= f.simple_fields_for :address do |a| %>
              <p><%= a.input :address, label: 'Logradouro', placeholder: 'Av. Paulista' %></p>
              <p><%= a.input :address_number, label: 'Número e complemento', placeholder: 'Número 125 - Ap 45' %></p>
              <p><%= a.input :postal_code, label: 'CEP', placeholder: '00000-000' %></p>
              <p><%= a.input :state, label: 'Estado', placeholder: 'SP' %></p>
              <p><%= a.input :city, label: 'Cidade' %></p>
            <% end %>
            <p><%= f.input :email, label: 'E-mail', placeholder: 'seuemail@ong.com.br' %></p>
            <p><%= f.input :phone, label: 'Telefone', placeholder: '(11)55555-5555', input_html: { maxlength: 14, 'data-mask':"(99)99999999"} %></p>
            <p><%= f.input :contact, label: 'Contato', hint: 'Nome do Responsável' %></p>
            <p><%= f.input :description, label: 'Descreva sua ONG', placeholder: 'Descreva o trabalho de sua ONG', as: :text %></p>
            <p><%= f.input :acept_pets, label: 'Recebe Pets' %></p>
            <p><%= f.input :site, label: 'Site', placeholder: 'http://www.nomedaong.com.br' %></p>
            <p><%= f.button :submit, 'Cadastrar ONG', id:'btn_cadastrar_ong', class:'btn btn-success' %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>
