<h1><%= @ong.name %></h1>

<%= image_tag @ong.avatar.url(:medium) %>

<dl>
  <dt>Localização</dt>
  <dd><%= @ong.address %></dd>
  <dt>Telefone</dt>
  <dd><%= @ong.phone %></dd>
  <dt>Email</dt>
  <dd><%= @ong.email %></dd>
  <dt>Site</dt>
  <dd><%= @ong.site %></dd>
</dl>

<section>
  <h1>PETs disponíveis para adoção</h1>
  <%= render @ong.pets %>
</section>
