<% content_for :head do %>
  <meta property="fb:app_id" content="156540017882716" />
  <meta property="og:url"   content="<%= ong_url(@ong) %>" />
  <meta property="og:title" content="<%= @ong.friendly_name %>" />
  <meta property="og:description" content="<%= @ong.description.truncate(300) %>" />
  <meta property="og:image" content="<%= @ong.avatar.url(:thumb) %>" />
<% end %>
<%= stylesheet_link_tag 'perfil' %>

<!-- nav bar -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Início', root_path %>
  </li>
  <li class="breadcrumb-item active"><%= @ong.friendly_name %></li>
</ol>

<!-- resumt -->
<div class="panel panel-default">
  <div class="panel-heading resume-heading">
    <div class="row">
        <div class="col-lg-12">
          <div class="col-xs-12 col-sm-4">
           <figure>
              <%= image_tag @ong.avatar.url(:medium), class: 'img-circle img-responsive' %>
           </figure>
        </div>
        <div class="col-xs-12 col-sm-8">
           <ul class="list-group">
              <li class="list-group-item"><h3><%= @ong.friendly_name %></h3></li>
              <li class="list-group-item">
                <address>
                  <%= link_to 'http://maps.google.com/?q='+ @ong.address.postal_code + ',' + @ong.address.address + ',' + @ong.address.address_number + ',' + @ong.address.state + ',' + @ong.address.city , target: '_blank' do %>
                    <%= @ong.friendly_address %>
                  <% end %>
                </address>
              </li>
              <% if @ong.phone.present? %>
                <li class="list-group-item"><i class="fa fa-phone"></i>
                  <%= link_to 'tel:'+ @ong.phone do %>
                    <span class="bfh-phone" data-format="+55 (dd) ddddd-dddd" data-number="15555555555"></span>
                    <%= @ong.phone %>
                  <% end %>
                </li>
              <% end %>
              <% if @ong.site.present? %>
                <li class="list-group-item">
                  <%= link_to 'http://'+ @ong.site, target: '_blank' do %>
                    <%= @ong.site %>
                  <% end %>
                </li>
              <% end %>
              <li class="list-group-item">
                <%= link_to 'mailto:'+ @ong.email do %>
                  <i class="fa fa-envelope"></i> <%= @ong.email %>
                <% end %>
              </li>
              <% if @ong.facebook_url.present? %>
                <li class="list-group-item">
                  <%= link_to 'http://'+ @ong.facebook_url, target: '_blank' do %>
                    <i class="fa fa-facebook"></i> Facebook
                  <% end %>
                </li>
              <% end %>
           </ul>
           <% if ong_admin?(@ong) %>
              <div class="btn-group">
                 <%= link_to edit_ong_registration_path(current_ong), class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                 <% end %>
                 <%= link_to new_ong_pet_path(current_ong), class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-plus"></span> Incluir Pet
                 <% end %>
               </div>
          <% end %>
          <hr>
          <%= social_share_button_tag("ONG", url: "#{ong_url(@ong)}", image: "#{@ong.avatar.url(:thumb)}", via: "AdotarPets") %>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills" id="tabs_ong">
    <li class="active"><a data-toggle="pill" href="#home">Sobre nós</a></li>
    <li><a data-toggle="pill" href="#donations">Doações</a></li>
    <li><a data-toggle="pill" href="#be_voluntary">Voluntários</a></li>
    <li><a data-toggle="pill" href="#events">Eventos</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= render 'ong_painel', ong: @ong %>
    </div>

    <div id="donations" class="tab-pane fade">
      <div class="bs-callout bs-callout-danger">
        <h3><span class="glyphicon glyphicon-heart-empty"></span></h3>
        <hr>
        <p>Existem diversas formas de ajudar a <%= @ong.friendly_name %>, veja itens importantes em nosso dia à dia.<br>
          <ul class="ul_destac">
            <li>Ração</li>
            <li>Medicamentos</li>
            <li>Material de limpeza e de procedimento</li>
            <li>Cobertores</li>
          </ul>
        <p>Essas doações podem ser entregues no endereço físico da <%= @ong.friendly_name %>, ou mesmo solicitando retirada entrando em contato conosco.</p>
        <hr>
        <% if @information_banks.count > 0 %>
          <p>Pode também efetivar uma doação financeira fazendo um depósito em uma de nossas contas listada à baixo.</p>
          <% @information_banks.each do |i| %>
            CNPJ: <%= i.cnpj %>  <br>
            Banco: <%= i.bank %>  <br>
            Agência: <%= i.agency %>  <br>
            Agência: <%= i.account_number %>  <br>
            <br>
            <% if ong_admin?(@ong) %>
              <%= link_to "Editar conta", edit_ong_information_bank_path(@ong, i), class: "btn btn-primary" %>
            <% end %>
            <hr>
          <% end %>
        <% end %>
        <% if ong_admin?(@ong) %>
          <%= link_to "Informar conta", new_ong_information_bank_path(@ong), class: "btn btn-primary" %>
          <hr>
        <% end %>
        <p>Toda e qualquer ajuda é muito bem vinda, e todos envolvidos na causa para ajudar desses seres incríveis, agradecem de coração sua colaboração.
      </div>
    </div>

    <div id="be_voluntary" class="tab-pane fade">
      <div class="bs-callout bs-callout-danger">
        <h3><span class="glyphicon glyphicon-grain"></span></h3>
        <hr>
          <p>
            Para manter a <%= @ong.friendly_name %> em bom funcionamento, dependemos da ajuda de muitos envolvidos, quanto mais gente envolvida nesse propósito,
            maior nossas chances de alcançar nossos objetivos, contamos com diversas atividades que você pode ajudar, sendo presencial ou online.
            <hr>
            Quer ser um voluntário? <br>
            Entre em contato conosco por <b><%= link_to 'e-mail', "mailto:#{@ong.email}" %></b><% if @ong.phone.present? %> ou no <b><%= link_to "#{@ong.phone}", "tel:#{@ong.phone}" %> <% end %></b> que estaremos anciosos em respondê-lo.
          </p>

      </div>
    </div>

    <div id="events" class="tab-pane fade">
      <%= render 'events_painel', ong: @ong %>
    </div>
  </div>
</div>

<h3>Pet's (<%= @ong.pets.count %>)</h3>
<hr>
<% if ong_admin?(@ong) && @ong.adoptions.count > 0 %>
<div class="bs-callout bs-callout-danger">
      <h4>Solicitações de adoção</h4>
      <hr>
      <% @ong.adoptions.each do |adoption| %>
        <div class="row">
          <div class="col-xs-2 col-md-2"><%= adoption.pet.name %><%= image_tag adoption.pet.avatar.url(:thumb), class: 'img-responsive' %></div>
          <div class="col-xs-6 col-md-6">
           <%= link_to user_profile_path(adoption.user) do %>
            <%= adoption.user.name %>
           <% end %>
           <hr>
           <%= link_to 'mailto:' + adoption.user.email do %>
            <%= adoption.user.email %>
           <% end %>
           <br>
           <%= link_to 'tel:' + adoption.user.phone do %>
            <%= adoption.user.phone %>
          <% end %>
         </div>
         <br>
         <div class="row">
           <div class="col-xs-6 col-md-6">
             <%= simple_form_for adoption do |f| %>
               <%= f.select :status, Adoption.statuses.keys, {}, class: "form-control" %>
               <br>
               <%= f.submit "Salvar", class: 'btn btn-success' %>
             <% end %>
           </div>
         </div>
       </div>
       <hr>
     <% end %>
<% end %>
</div>
<%= render ong_admin?(@ong) ? @ong.pets.all : @ong.available_pets %>

<style>

#tabs_ong > li > a {
  padding: 10px 7px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #8b0042;
    background-color: #fff;
}

</style>
