<h1>Dados da Ong</h1>

<p>Nome: <%= @ong.name %></p>
<p>Localização: <%= @ong.location %></p>
<p>Telefone: <%= @ong.phone %></p>
<p>Email: <%= @ong.mail %></p>
<p>Site: <%= @ong.site %></p>
<p>Pets: <%= @ong.pets.name %></p>
