<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Início', root_path %>
  </li>
  <li class="breadcrumb-item active">
    Feedback
  </li>
</ol>
<h3>Ajude nos a melhorar!</h3>
<hr>
<div>
  <%= simple_form_for @feedback, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, label: 'Nome', :required => true %>
    <%= f.input :email, label: 'E-mail', :required => true %>
    <%= f.input :message, label: 'Mensagem', :as => :text, :required => true %>
    <div>
      </br>
      <%= f.button :submit, 'Enviar', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
