<!DOCTYPE html>
<html>
  <head>
    <title>Adopt</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
          <div class="navbar-header">
            <%= link_to root_path, class:'navbar-brand home' do %>
              <%= image_tag 'adopt.png', class: 'hidden-xs img-responsive' %>
              <%= image_tag 'adopt.png', class: 'visible-xs img-responsive' %>
              <span class="sr-only">AdoPet</span>
            <% end %>
          </div>

          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to 'Adopet', root_path %></li>
            <li><%= link_to 'ONGs', ongs_path %></li>
            <li><%= link_to 'Pets', pets_path %></li>
          </ul>
          <% unless current_user %>
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
          <% else %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><%= link_to 'Editar conta', edit_user_registration_path %>
                     <li><%= link_to 'Logoff', destroy_user_session_path, method: :delete%>

                   </ul>
              </li>
            <% else %>
              <li><%= link_to 'Login Usuário', new_user_session_path %></li>
              <li><%= link_to 'Criar Usuário', new_user_registration_path %></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if ong_signed_in? %>
              <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_ong.email %> <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><%= link_to 'Minha ONG', ong_path(current_ong) %>
                     <li><%= link_to 'Editar conta', edit_ong_registration_path %>
                     <li><%= link_to 'Logoff', destroy_ong_session_path, method: :delete%>
                   </ul>
              </li>
            <% else %>
              <li><%= link_to 'Login ONG', new_ong_session_path %></li>
              <li><%= link_to 'Criar ONG', new_ong_registration_path %></li>
            <% end %>
          </ul>

        </div>
      </div>
    </header>

    <div id="all">

      <div id="content">
        <% if flash[:error] %>
          <div class="alert alert-danger">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>

        <% notice %>
        <% alert %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
