<!DOCTYPE html>
<html>
  <head>
    <title>NewAceg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav>
        <%= link_to 'Criar conta', new_user_registration_path %>
                
      </nav>
      <% notice %>
      <% alert %>
      <% if flash[:error] %>
        <div class="alert alert-danger">
        <p><%= flash[:error] %></p>
        </div>
      <% end %>
    <%= yield %>
  </div>

  </body>
</html>
