<!DOCTYPE html>
<html lang="en">
<head>
  <title>AdotarPets</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'fonts' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <%= content_for?(:head) ? yield(:head) : '' %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        AdotarPets
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span> INÍCIO
          <% end %>
        </li>
        <li>
          <%= link_to "QUEM SOMOS", quemsomos_path %>
        </li>
        <% if !ong_signed_in? %>
          <li>
            <%= link_to "CADASTRAR ONG", new_ong_registration_path %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? && !ong_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> LOGIN
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Login Usuário', new_user_session_path %></li>
            <li><%= link_to 'Login ONG', new_ong_session_path %></li>
          </ul>
        </li>
        <% elsif user_signed_in? %>
        <li>
          <%= link_to user_profile_path current_user do %>
            <span class="glyphicon glyphicon-user"></span> <%= current_user.name.upcase %>
          <% end %>
        </li>
          <li>
            <%= link_to destroy_user_session_path do %>
              <span class="glyphicon glyphicon-log-out"></span> LOGOUT
            <% end %>
          </li>
        <% elsif ong_signed_in?  %>
          <li>
            <%= link_to current_ong do %>
              <span class="glyphicon glyphicon-user"></span> <%= current_ong.name.upcase %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_ong_session_path do %>
              <span class="glyphicon glyphicon-log-out"></span> LOGOUT
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to feedbacks_new_path  do %>
            <span class="glyphicon glyphicon-comment"></span> FEEDBACK
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="col-sm-12 row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to 'Adote', pets_path %></li>
        <li role="presentation"><%= link_to 'Ong\'s', ongs_path %></li>
        <br>
        <li role="presentation">
          <% if ong_signed_in? %>
            <%= link_to current_ong do %>
              <span class="glyphicon glyphicon-cog"></span> Sua ONG
            <% end %>
          <% elsif user_signed_in? %>
            <%= link_to user_profile_path(current_user) do %>
              <span class="glyphicon glyphicon-cog"></span> Perfil
            <% end %>
          <% end %>
        </li>
        <% if ong_signed_in? %>
          <li role="presentation">
            <%= link_to new_ong_comunicator_path(current_ong) do %>
              <span class="glyphicon glyphicon-comment"></span> Mensagens
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-8 text-left" style="padding-top:1%; padding-bottom:1%;">
      <% if flash[:error] %>
        <div class="alert alert-danger">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <% notice %>
      <% alert %>
      <%= yield %>
    </div>

    <div class="col-sm-2 sidenav" >
      Anúncios
      <hr>
    </div>
  </div>
</div>

<footer class="container-fluid text-center" style="top:2%;">
  <p>Copyright - www.adotarpets.com.br</p>
</footer>

</body>
</html>
