<!DOCTYPE html>
<html>
  <head>
    <title>NewAceg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <header>



        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

              <%= link_to 'AdoPet', root_path, class:'navbar-brand' %>
              <ul class="nav navbar-nav">
                  <li><%= link_to 'ONGs', ongs_path %></li>
                  <li><%= link_to 'Pets', pets_path %></li>
              </ul>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">

                <% if user_signed_in? %>

                <li><%= link_to 'Minhas ONGs', minhas_ongs_path %>
                <li><%= link_to 'Editar conta', edit_user_registration_path %>
                <li><%= link_to 'Logoff', destroy_user_session_path, method: :delete%>
                  |<%= current_user.email %> |
                </li>
                <% else %>
                <li><%= link_to 'Login', new_user_session_path %></li>
                <li><%= link_to 'Criar conta', new_user_registration_path %></li>
                <% end %>

                <% notice %>
                <% alert %>
              </ul>


            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>




      </header>

    <div class="container">

      <% if flash[:error] %>
        <div class="alert alert-danger">
        <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <%= yield %>




    </div>



  </body>



</html>
