<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adopt</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style>

    @import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
    /* -- import Roboto Font ---------------------------- */
    /* -- import Material Icons Font -------------------- */
    @font-face {
    font-family: 'Material Design Iconic Font';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?v=1.0');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?#iefix&v=1.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.woff?v=1.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.ttf?v=1.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.svg?v=1.0#Material-Design-Iconic-Font') format('svg');
    font-weight: normal;
    font-style: normal;
    }

    body {
      font-family: "TrebuchetMS";
    }

    /* btn admin */
    .btn-primary {
        color: #fff;
        border-color: #ffffff;
        background-color: #03b7a1
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        color: #fff;
        border-color: #ffffff;
        background-color: #03b7a1
    }

    h3{
      color: #03b7a1;
    }

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      bottom: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 1%;
      background-color: #fff;
      height: 100%;
    }

    .sidenav ul li{
      font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.4;
      background-color: #f5f5f5;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      text-align: left;
    }

    .nav>li>a {
      color: #03b7a1;
    }

    .nav>li>a:hover {
      color: #8B0042;
      background-color: #f5f5f5;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      color: #000;
      text-decoration: none;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #03b7a1;
      color: #fff;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }



    .navbar-inverse {
      background-color: #8B0042;
      border-bottom-color: #fff;
     }

    .navbar-inverse .navbar-nav>li>a {
      color: #fff;
     }

    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
      background-color: #03b7a1;
      color: #fff;
      font: normal normal bold 0.875em TrebuchetMS;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
      color: #fff;
      background-color: #03b7a1;
    }

    .dropdown-toggle {
       background-color: transparent;
       border-color: #fff;
       border-top: none;
       border-right: none;
       border-left: none;
    }

    .dropdown-menu{
      background-color: #03b7a1;
    }

    .dropdown-menu>li>a{
      color: #fff;
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'ACEG', root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span> INÍCIO
          <% end %>
        </li>
        <li>
          <%= link_to "QUEM SOMOS", quemsomos_path %>
        </li>
        <% if !ong_signed_in? %>
          <li>
            <%= link_to "CADASTRAR ONG", new_ong_registration_path %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? && !ong_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> LOGIN
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Login Usuário', new_user_session_path %></li>
            <li><%= link_to 'Login ONG', new_ong_session_path %></li>
          </ul>
        </li>
        <% elsif user_signed_in? %>
        <li>
          <%= link_to user_profile_path current_user do %>
            <span class="glyphicon glyphicon-user"></span> <%= current_user.name.upcase %>
          <% end %>
        </li>
          <li>
            <%= link_to destroy_user_session_path do %>
              <span class="glyphicon glyphicon-log-out"></span> LOGOUT
            <% end %>
          </li>
        <% elsif ong_signed_in?  %>
          <li>
            <%= link_to current_ong do %>
              <span class="glyphicon glyphicon-user"></span> <%= current_ong.name.upcase %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_ong_session_path do %>
              <span class="glyphicon glyphicon-log-out"></span> LOGOUT
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to feedbacks_new_path  do %>
            <span class="glyphicon glyphicon-comment"></span> FEEDBACK
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="col-sm-12 row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to 'Adote', pets_path %></li>
        <li role="presentation"><%= link_to 'Ong\'s', ongs_path %></li>
        <br>
        <li role="presentation">
          <% if ong_signed_in? %>
            <%= link_to current_ong do %>
              <span class="glyphicon glyphicon-cog"></span> Sua ONG
            <% end %>
          <% elsif user_signed_in? %>
            <%= link_to user_profile_path(current_user) do %>
              <span class="glyphicon glyphicon-cog"></span> Perfil
            <% end %>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-comment"></span> Mensagens
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-sm-8 text-left" style="padding-top:1%; padding-bottom:1%;">
      <% if flash[:error] %>
        <div class="alert alert-danger">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <% notice %>
      <% alert %>
      <%= yield %>
    </div>

    <div class="col-sm-2 sidenav" >
      Anúncios
      <hr>
    </div>
  </div>
</div>

<footer class="container-fluid text-center" style="top:2%;">
  <p>Copyright - ACEG</p>
</footer>

</body>
</html>
